* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Asap', sans-serif;
}

:root {
  --theme-color: #4fbafc;
  --primary-color: #4cbbfa;
}

.color-theme,
.color-theme:hover,
.color-theme:focus {
  color: var(--theme-color)
}

a,
a:focus {
  outline: none;
}

.header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

/*.header-wrapper.nav-fixed {
  background-color: #fff;
  transition: background -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header-wrapper.nav-down {
  top: 0;
  background-color: #fff;
}

.header-wrapper.nav-up {
  top: -75px;
  background: transparent;
}*/

.logo img {
  max-width: 60px;
}

.menu-list {
  margin-bottom: 0;
}

.menu-list li:not(:last-child) a {
  border-right: 1px solid var(--white);
  padding-right: 10px;
}

.menu-list li a {
  color: #fff;
}

.banner-container {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.banner-row {
  height: 100vh;
  color: var(--white);
  position: relative;
}

.banner-row .heading {
  font-size: 28px;
  font-weight: 400;
  max-width: 430px;
  margin-bottom: 20px;
}

.banner-row .heading span {
  text-transform: uppercase;
  font-weight: 700;
}

.form-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 10px 0;
  padding-right: 60px;
  max-width:  450px;
  position: relative;
  margin-bottom: 20px;
}

.form-wrapper .form-control {
  background-color: transparent;
  border:  none;
  border-right: 1px solid #ddd;
  border-radius:  0;
  height: 30px;
  font-size: 30px;
  text-align: center;
  color: #a4a4a4;
}

.form-wrapper .form-control:focus {
  box-shadow: none;
}

.form-wrapper .btn-verify {
  background-color: var(--theme-color);
  color: var(--white);
  position: absolute;
  right: -40px;
  border: none;
  box-shadow: none;
  padding: 8px 20px;
  cursor: pointer;
}

.banner-row .banner-txt {
  font-size: 16px;
}

.banner-text-block {
  position: relative;
}

.banner-txt-bottom {
  position: absolute;
  bottom: 0;
  color: var(--white);
}

.banner-txt-bottom a {
  color: var(--theme-color);
}

.customer-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.customer-item .customer-review,
.customer-item .media-body h5 {
  font-size: 18px;
}

.customer-item .media-body span {
  font-size: 14px;
  color: #c3c3c3;
}

.customer-review-carousel .carousel-indicators {
  position: static;
  float: right;
  margin-right: 0;
  margin-bottom: 0;
}

.carousel-indicators li {
  background-color: #c3c3c3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: var(--theme-color);
}

.brand-logo-section {
  background-color: #eaf7fe;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-logo-section .marquee-slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.information-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.information-row h1 {
  font-size: 62px;
  font-weight: 700;
}

.info-item .media {
  margin-bottom: 30px;
}

.info-item .media .img-block {
  width: 65px;
}

.info-item .media img {
  max-width: 60px;
  max-height: 60px;
}

.info-item .media h5 {
  font-weight: 700;
  margin-bottom: 10px;
}

.information-row h1 span {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.information-row h1 .span-1:after {
  content: "";
  background-image: url(../images/line1small.png);
  width: 81px;
  position: absolute;
  right: 50px;
  height: 8px;
  bottom: 0;
}

.information-row h1 .span-3:after {
  content: "";
  background-image: url(../images/line2large.png);
  width: 102px;
  position: absolute;
  right: 35%;
  height: 11px;
  bottom: -20px;
}

.footer-wrapper {
  background-color: #f3fbfe;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-row .footer-item {
  margin-bottom: 0;
  display: flex;
}

.footer-row .footer-item li:not(:last-child) {
  margin-right: 50px;
}

.footer-row .footer-item li,
.footer-row .copyright-txt {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-row .footer-item li a,
.footer-row .footer-item li a:hover {
  color: var(--theme-color);
}

.footer-row {
  width: 100%;
}

.marguee-block,
.success-block {
  display: none;
}

.success-block {
  max-width: 400px;
  width: 100%;
}

.person-card {
  background-color: #fff;
  box-shadow: 0px 0px 15px #e2e2e2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.person-card .person-img {
  width: 40%;
}

.person-card .person-detail {
  width: 60%;
  color: #000;
}

.person-detail h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.person-detail p {
  font-size: 14px;
  margin-bottom: 10px;
}

.person-detail .person-list {
  padding-left: 15px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.person-detail .person-list:before {
  content: "";
  background-color: var(--theme-color);
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.person-list a,
.person-list a:hover,
.person-list li {
  color: #000;
}

.image-block {
  position: relative;
  width: auto;
  display: inline-block;
}

.image-block:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  border-right: 30px solid var(--theme-color);
  height: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-block img {
  position: relative;
  z-index: 2;
}

.person-info {
  margin-bottom: 25px;
}

.success-block .btn-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.success-block .btn-person {
  padding: 9px 20px;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  min-width: 150px;
}

.success-block .btn-review {
  background-color: #e6ac28;
}

.success-block .btn-contact {
  background-color: #4fbafc;
}

.modal-dialog {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
  border: 2px solid var(--theme-color);
}

.modal-header {
  padding: 0;
  border-bottom: none;
  justify-content: flex-end;
}


.modal-header .close,
.modal-header .close:hover {
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 0px 10px 6px;
  background-color: var(--theme-color);
  color: var(--white);
}

.review-wrapper h3 {
  font-size: 18px;
  font-weight: 700;
}

.review-wrapper label {
  font-size: 14px;
}

.review-wrapper .form-control {
  border-radius: 0;
  background-color: #f8f8f8;
}

.platform-btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.platform-btn .btn-platform {
  min-width: 100px;
  border-radius: 25px;
  text-align: center;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
}

.platform-btn .btn-yelp {
  border: 1px solid #c3575a;
  color: #c3575a;
}

.platform-btn .btn-yelp:hover {
  background-color: #c3575a;
  color: #fff;
}

.platform-btn .btn-facebook {
  border: 1px solid #4561bb;
  color: #4561bb;
}

.platform-btn .btn-facebook:hover {
  background-color: #4561bb;
  color: #fff;
}

.platform-btn .btn-google {
  border: 1px solid #4ea76c;
  color: #4ea76c;
}

.platform-btn .btn-google:hover {
  background-color: #4ea76c;
  color: #fff;
}

.review-icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.review-icon img {
  max-width: 40px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.review-icon img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.review-icon + span {
  width: 100%;
  display: block;
  padding-top: 10px;
  font-size: 12px;
}

.review-submit {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.review-submit img {
  max-width: 60px;
}
.review-submit h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.review-submit p {
  font-size: 16px;
}

@media (max-width: 767px) {
  .brand-logo-section .marquee-slider {
    display: none;
  }
  .marguee-block {
    display: block;
  }
  .banner-row .heading {
    margin-right: 0;
  }
  .form-wrapper {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .form-wrapper .form-control {
    padding: 0;
    display: inline-block;
    width: auto;
    max-width: 40px;
  }
  .form-wrapper .btn-verify {
    right: -10px;
    top: 6px;
  }
  .review-img {
    text-align: center;
    margin-bottom: 20px;
  }
  .marguee-block a {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .information-row h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .footer-row .footer-item {
    display: block;
  }
  .footer-row .footer-item li {
    margin-bottom: 20px;
  }
  .footer-row .copyright-txt {
    padding-left: 15px;
  }
}
